@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
@import url('https://fonts.googleapis.com/css?family=Roboto');



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f6f9fc
  
}

.App-link {
  color: #61dafb;
}

.ant-layout{
  background: #f6f9fc;
}


.sider {
  overflow: auto;
  height: 100vh;
  position: sticky;        
  top: 0;
  left: 0;
}

.sider-image{
  margin-top: 4rem;
  margin-left: 2.3rem;
}
.sider-text h1{
  margin-top: 1.5rem;
  margin-right: 0.5erm;
  color:#f1f1f1;
  font-family: 'Roboto', sans-serif;


}

.grad {
  background-image:url("../src/assets/images/bg1.jpg");
  overflow: "auto";
  height: "100vh";
  position: "sticky";        
  top: 0;
  left: 0;
}

.image-art {
  /* background: url("../src/assets/images/fulls/01.jpg") no-repeat 6px center; */
  width: 300px;
  height: 300px;
  display: block;
}


body {
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
  background: #f6f9fc
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
  background: #f6f9fc;
}

.main-header {
  height: 70vh;
  padding: 0 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:url("../src/assets/images/bg1.jpg");
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  
}

.main-header h1 {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: white;

}
.main-header h2 {
  color: white;

}

.main-header h1 span {
  color: #b50d10;
}

.main-header p {
  font-size: 1.rem;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}


.card {
  width: 100%;
  height: 400px;
  /* display: grid; */
  /* border-radius: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; */
  background: #f1f1f1;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto', sans-serif;
  box-shadow: 3px 3px 6px grey;
}

.card h3 {
  /* margin-bottom: 2rem; */
}

.card img {
  /* border-radius: 10px 0 0px 10px; */
  max-height: 150px;
  max-width: 90%;
  margin-left: 15px;
  box-shadow: 12px 12px 40px #555;
  border-radius: .8rem;
  transform: translate(0,-2rem);
  position: relative;
}

/* .card > div {
  padding: 0px 10px 10px;
} */

.card:nth-child(even) img {
  order: 2;
  border-radius: 10px 10px 10px 10px; 
}
.card:nth-child(odd) img {
  order: 0;
  border-radius: 10px 10px 10px 10px; 
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.card-text-area{
  font-size: 0.8rem;
  max-height: 30px;
  margin: 0 1rem;
  transform: translate(0,-0.5rem);
}

.card-footer {
  margin-left: 55px;
  margin-top : 10px;
  transform: translate(0,9rem);

}


.card-footer-item {
  margin-left: 55px;
}

.aws-btn__content{
  font-size: 11px;
  line-height: 1.8;
}
.aws-btn__content span{

}

.footer{
  background-image:url("../src/assets/images/bg1.jpg");
  height: 200px;
  

}

.mobile-footer{
  display: block;
}

.footer-text{
  margin-top: 50px;
  text-align: center;
  color:white
}

.sider-icon{
  font-size: 44px;
  color: #FFFFFF;
}

.header-title {
  display: none;
  font-size: 1.7rem;
 font-family: 'Oswald', sans-serif;
 
}

.mobile-header-title{
  font-size: 1.7rem;
  font-family: 'Oswald', sans-serif;
  color:white
}

.mobile-header-container{
  display: block;
  height: 100%;
  
}

.main-top-text{
  padding-top: 30px;
}

.header-image{
  
  padding-top: 15px;
  padding-bottom: 15px;
}



/* Build a Responsive News Blog Post Card | */


::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-card{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5rme;
}


@media screen and (max-width: 868px){
  .proj-post{
    max-width: 70rem;
    
  }


}

@media screen and (max-width: 768px){
  .proj-post{
    padding: 2.5rem;
    flex-direction: column;
  }
  .proj-post__img{
    min-width: 100%;
    max-width: 100%;
    transform: translate(0,-8rem);

  }

}









@media only screen and (min-width: 768px){
  .mobile-header-container{
    display: none;
    height: 100%;
    background-image:url("../src/assets/images/bg1.jpg");
    
  }

  .ant-layout * body{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f6f9fc;
    
}

.sider {
  overflow: auto;
  height: 100vh;
  position: sticky;        
  top: 0;
  left: 0;
}

.sider-image{
  margin-top: 4rem;
  margin-left: 2.3rem;
}
.sider-text h1{
  margin-top: 1.5rem;
  margin-right: 0.5erm;
  color:#f1f1f1;
  font-family: 'Roboto', sans-serif;


}


  .header-title {
    display: block;
    font-size: 3.3rem;
   font-family: 'Oswald', sans-serif;
   
   
  }

  .main-header h2 {
    color: black;
  
  }

  

  .main-header {
    height: 20vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f6f9fc;
    font-family: 'Roboto', sans-serif;
    
    /* font-family: 'Source Sans Pro'; */
    /* font-family: 'Oswald', sans-serif; */
    
  }
  
  .main-header h1 { 
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1;
    background: #f6f9fc;
    font-family: 'Roboto', sans-serif;
    
  }
  
  .main-header h1 span {
    color: #b50d10;
  }
  
  .main-header p {
    font-size: 1.rem;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Roboto', sans-serif;
  }
  
  img {
    width: 100%;
  }

  .main-top-text{
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
  }
  
  
  .card {
    display: grid;
    border-radius: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 11px 22px grey;
  
  }
  
  .card h3 {
    margin-bottom: 2rem;
  }
  
  .card img {
    height: 400px;
    max-height: 400px;
    margin-left: 0px;
    max-width: 100%;
    box-shadow: 0px 0px 0px #555;
    border-radius: 0rem;
    transform: translate(0,0);
    
    /* position: relative; */
    
    transform: 0;
  }
  
  .card > div {
    padding: 2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
    border-radius: 0 10px 10px 0; 
  }
  .card:nth-child(odd) img {
    order: 0;
    border-radius: 10px 0px 0px 10px; 
  }
  
  

  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .card-text-area{
    max-height: 30px;
    margin: 1rem;
  }
  
  .card-footer {
    
    margin-left: 55px;
    margin-top : 60px;
  }
  
  
  .card-footer-item {
    margin-left: 55px;
  }

  .footer{
    background: #f6f9fc; 
 
 }
 .footer > div {
   padding: 1rem;
   text-align: center;
 }

 .mobile-footer{
   display: none;
 }

 .footer-text{
  margin-top: 50px;
  text-align: center;
  color: #000;
}


}





/* @media(max-width:600px) {
  .card {
    display: block;
  }
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }



}
